.card {
  max-width: 360px;
  max-height: 231px;
}

.card__list {
  padding: 0;
}

.card__face {
  list-style: none;
  position: relative;
}

.card__button-wrap {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card__button {
  border: none;
  background-color: transparent;
}
.card__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.card__button-img {
  width: 72px;
  height: 21px;
  border-radius: 10px;
}
.card__button-img.saved {
  transform: translateX(20px);
  transition: transform 0.8s ease-in-out;
}
.card__button-img.remove {
  transform: translateX(20px);
  transition: transform 0.8s ease-in-out;
}

.card__image {
  max-width: 360px;
  max-height: 201px;
}

@media screen and (max-width: 768px) {
  .card__image {
    max-width: 339px;
    max-height: 190px;
  }
}

.card__info {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  margin: 0 10px;
}

.card__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.card__length {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #A0A0A0;
}

@media screen and (max-width: 320px) {
  .card__image {
    max-width: 300px;
    max-height: 168px;
  }
  .card__info {
    margin: 0;
  }
}

.card__saved-btn {
  width: 21px;
}
.card__saved-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.card__delete-btn {
  width: 21px;
}
.card__delete-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}