.not-found {
  display: flex;
  flex-direction: column;
}

.not-found__number {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #000000;
  margin: 246px auto 0;
}

.not-found__p {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  margin: 5px auto 0;
}

.not-found__link {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2BE080;
  border: none;
  background-color: white;
  margin: 184px auto 60px;
  text-decoration: none;
}
.not-found__link:hover {
  opacity: 0.7;
  cursor: pointer;
}