.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 18px 70px 38px 70px;
}

.header__logo {
  width: 38px;
}

.header__menu-button {
  display: none;
}

.header__menu-icon {
  display: none;
}

.header__nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 0;
}

.header__nav_logged {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.header__item {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: #2BE080;
  border-radius: 3px;
  max-width: 76px;
  max-height: 32px;
  margin-top: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__item:first-of-type {
  background-color: white;
}

.header__link {
  border: none;
  background: none;
  text-decoration: none;
  color: black;
}
.header__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header__routes {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.header__route {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #000000;
  text-decoration: none;
}
.header__route_first {
  font-weight: 500;
}

.header__profile-wrap {
  display: flex;
  flex-direction: row;
  gap: 17px;
  padding: 0;
}

.header__profile-wrap-text {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
}

.header__profile-wrap-box {
  background-color: #F9F9F9;
  max-width: 26px;
  max-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px;
}

.header__profile-wrap-icon {
  max-width: 12px;
  max-height: 14px;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 21px 30px 41px 30px;
  }

  .header__routes, .header__profile-wrap {
    display: none;
  }

  .header__menu-button {
    display: block;
    width: 44px;
    height: 44px;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  
  .header__menu-icon {
    display: block;
    width: 44px;
    height: 44px;
  }

  .header__menu-icon:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 18px 14px;
  }

  .header__item {
    font-size: 10px;
    line-height: 16px;
    max-width: 54px;
    height: 26px;
    margin-top: 0;
  }

  .header__routes, .header__profile-wrap {
    display: none;
  }
}