.footer {
  background-color: #FAFAFA;
}

.footer__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
  border-bottom: solid 1px #E8E8E8;
  padding: 79px 0 20px 0;
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 70px;
}

@media screen and (max-width: 768px) {
  .footer {
    background-color: white;
  }
  .footer__info {
    margin: 0 30px;
  }
}

.footer__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.footer__link {
  text-decoration: none;
  color: black;
}
.footer__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer__year {
  display: flex;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

@media screen and (max-width: 320px) {
  .footer__title {
    margin: 0 10px;
    font-size: 12px;
    line-height: 15px;
  }
  .footer__info {
    flex-direction: column-reverse;
  }
  .footer__links {
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .footer__year {
    align-items: center;
    justify-content: center;
    color: #A0A0A0;
  }
}